{% extends "base.html" %}

{% block title %}
    <p> CURSO DE JAVA </p>
{% endblock %}

{% block content %}
    {{damefecha}}
    <P>BLOQUE DE CONTENIDO </P>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/F0ILFYl8YgI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% comment %}
     <iframe width="560" height="315" src="https://www.youtube.com/embed/6EBNIgkrU74" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
    {% endcomment %}
{% endblock %}